.User {
  padding: 1rem;
  border: 1px solid #8080801e;
  box-shadow: 2px 5px 5px #8080801e;
  border-radius: 10px;
  min-height: 110px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.left {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}
.img {
  width: 70px;
  height: 70px;
  border: 1px solid rgba(128, 128, 128, 0.587);
  border-radius: 50%;
  margin-right: 1rem;
}
.name {
  font-size: 1.3rem;
  font-weight: 600;
  color: grey;
  margin-bottom: 0.3rem;
  margin-top: 0.2rem;
}
.following {
  font-size: 0.9rem;
  font-weight: 400;
  color: #808080ab;
  margin: 0;
}
.button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #ff000091;
  border: 1px solid #ff000091;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  width: 100px;
  margin-bottom: 2rem;
  font-weight: 700;
  margin: 1rem;
}
.button:hover {
  color: #ff000091;
  background-color: white;
}
@media (max-width: 900px) {
  .name {
    font-size: 1rem;
    font-weight: 600;
    color: grey;
    margin-bottom: 0.3rem;
    margin-top: 0.2rem;
  }
  .following {
    font-size: 0.5rem;
    font-weight: 400;
    color: #808080ab;
    margin: 0;
  }
  .followingStatus {
    font-size: 0.6rem;
  }
  .button {
    font-size: 0.6rem;
  }
}
